
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    background-color: rgb(245, 238, 238);
    width: auto;
  }

  /* Share Styles */

  .text-center{
    text-align: center;
  }

  .section-title{
    font-size: 32px;
    font-weight: 800;
  }

  /* Header */

  nav{
    display: flex;
    justify-content: space-around;
    margin: 50px 50px;
  }

  .nav-title{
    font-weight: 700;
    font-size: 40px;
    margin-right: 50px;
  }

  nav ul {
    display: flex;
    /* align-items: center; */
}

/* list item এর ডট কে মুছে ফেলে - list-style: none; */

nav ul li {
    list-style: none;
    margin-right: 51px;
}

/* anchor Tag এর নিচের লাইন কে মুছে ফেলে - text-decoration: none;*/

nav li a {
    text-decoration: none;
    font-size: 20px;
}

  /* Button Styles */

  .btn-style{
    background-color: #f4f0ed;
    font-weight: 400;
    font-size: 20px;
    color: rgb(5, 0, 0);
    padding: 15px 30px;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 50px;
  }

.btn-primary{
  background-color: #f56804;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
}


 
/* Banner Section Start */

.banner{
  background-image: url("../assets/Hero-bg.png");
  background-position: top left, bottom right;
  /* position: absolute; */
  width: 100%;
  height: 652px;
  margin-bottom: 50px;

}

.banner-content{
  text-align: center;
  margin: 0, 0, 50px 50px;

}

.banner-img{
  margin: 26px 32px;
}

h1{
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 24px;

}

h2{
  font-size: 32px;
}

p{
  font-weight: 400;
  font-size: 16px;
}


/* Main Section Styles */

main{
  max-width: 1140px;
  margin: 0 auto;
}

main section{
  margin-top: 130px;
  margin-bottom: 130px;
  
}


.web-container{
  margin-top: 48PX;
}

.container-part{
  margin-top: 80px;
}

.container-part-1{
  display: flex;
  column-gap: 100px;
  margin-top: 48px;
}

.container button{
  font-size: 15px;
  height: 40px;
  width: 100px;
}

/* My Inspiration Styles */



.Inspiretion-item{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}

.video{
  
  margin: 48px 0px;
  border-radius: 16px;
  border: 2px solid rgb(250, 249, 248);
  border-width: 70px;
  box-shadow: #f56804;
}

iframe{
  border-radius: 16px;
  border-width: 5px;
}

/* .video{
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}

iframe{
  align-items: center;
} */


/* Skill Description Styles */


.skills-container{
  display: flex;
  gap: 24px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 111px 0px;

}


.skill-1{
  padding: 40px;
  border-radius: 16px;
  background: #e233070d;
}

.skill-2{
  padding: 40px;
  border-radius: 16px;
  background: #0353f40d;
}

.skill-3{
  padding: 40px;
  border-radius: 16px;
  background: #ffdf000d
}


.skill-btn{
  border: #e233070d;
  background-color:rgb(255, 240, 240);
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

/* Support section styles */

.supports{
  width: 1140px;
  height: 314px;
  left: 150px;
  right: 150px;
  top: 4752px;
  bottom: 179px;
}

.support{
  background-image: url("../assets/handshake.jpg");
  /* position: absolute; */
  
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 48px 64px 48px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
}

.text-file{
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  height: 50px;
  width: 600px;
}

.sp-text{
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
}

.spd-text{
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%
  
}

.submit-file{
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  height: 50px;
  width: 150px;
}


/* Footer Style */

.footer-styles{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 150px 32px 150px;
  position: absolute;
  width: 1250px;
  height: 100px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
}

